# FULLHOME ID Environment Configuration
NEXT_PUBLIC_SITE_URL=https://fullhome.id
NEXT_PUBLIC_WHATSAPP_NUMBER=6281237533193
NEXT_PUBLIC_WHATSAPP_DEFAULT_MESSAGE="Halo FULLHOME ID, Saya ingin berkonsultasi mengenai kebutuhan interior."
